*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgb(19, 22, 24);
  --color2: black; 
}

body {
  background-color: black;
  font-family: "Anton";

}


