*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo: rgba(0, 0, 0, 0.833);
  --logoContrast: rgb(227, 223, 200);
  --aczent: lightblue;
  --navbar: black;
  --glowColor: #fff;
}

body {
  font-family: "Black Ops One", sans-serif;
  background-color: black;
}

/* ------------------ BACKUPS ------------------ */

/* :root {
  --logoRed: rgb(118, 9, 9);
  --logoBright: rgb(227, 223, 200);
  --dark: rgb(0, 0, 0);
  --glowColor: #fff;
} */
