@media only screen and (max-width: 770px) {
  .wrapper-logo {
    perspective: 450px;
    transform: translateZ(-9px) scale(1.75);
    width: 80%;
    height: 90%;
    margin-top: 100px;
    margin-left: 5px;
  }

  .containter3D h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 750px) {
  .containter3D h1 {
    font-size: 60px;
  }
}
