/* .button-wrapper {
  position: relative;
} */

.navbar {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1em;
  /* justify-content: space-around; */
  /* align-items: center; */
  height: 60px;
  background-color: var(--navbar);
}
